[admin]
; Paths should share the same root path.  Both QBit and this container must have access to both directories.
game_library_root_path = /data/library/
torrents_completed_root_path = /data/torrent/
; Wait time in hours before checking for new torrents for importing.
wait_time_hours = 4
; If set to false, the container will skip the initial run until the wait_time_hours has passed.
on_startup = TRUE

[qbittorrent]
username = admin
password = password
host = localhost
port = 8080
category = gog

[gog]
gog_all_games_file = cache/gog_all_games.json
gog_recent_games_file = cache/gog_recent_games.json
gog_all_games_url = https://gog-games.to/api/web/all-games
gog_recent_games_url = https://gog-games.to/api/web/recent-torrents